* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    /* border: .1rem solid #0be474; */
}

body {
    /* border: .1rem solid #e40ba3; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    /* border: .1rem solid red; */
    background-color: rgb(36, 35, 35);
    color: #eee;
    height: 3rem;
    padding: .7rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.logo {
    background-color: blue;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.titulo-cabecalho {
    /* border: .1rem solid greenyellow; */
    flex: 1;
}

.menu-hamburguer {
    /* border: .1rem solid red; */
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu-hamburguer:hover {
    background-color: #3f3e3e;
}

.menu-hamburguer:hover i {
    color: #ddd;
}

.menu-hamburguer i:hover {
    color: white;
}

.menu-hamburguer i {
    color: #ccc;
    font-size: 1.5rem;
}

section {
    /* border: .1rem solid blue; */
    display: flex;
    flex: 1;
}

nav {
    /* border: .1rem solid orangered; */
    width: 15rem;
    background-color: #eee;
    padding: .7rem;
}

.menu-oculto {
    display: none;
}

li {
    margin-bottom: .7rem;
}

a {
    text-decoration: none;
}

.opcao {
    /* border: .1rem solid green; */
    display: flex;
    color: #5e5e5e;
    padding: .7rem;
    background-color: #ddd;
    border-radius: .5rem;
}

.opcao:hover {
    box-shadow: 0rem .3rem .3rem .01rem #ccc;
    border: .1rem solid #bbb;
}

.opcao:hover .rotulo {
    text-align: right;
}

.opcao:hover .icone-final {
    opacity: 1;
}

.icone-inicial {
    /* border: .1rem solid red; */
    margin-right: .5rem;
}

.rotulo {
    /* border: .1rem solid red; */
    flex: 1;
}

.icone-final {
    /* border: .1rem solid red; */
    margin-left: .5rem;
    opacity: 0;
    transition: opacity .3s ease-in;
}

main {
    /* border: .1rem solid purple; */
    flex: 1;
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
}

.cartao {
    border: .2rem solid #ddd;
    width: 12rem;
    height: 24rem;
    box-shadow: .5rem .5rem .2rem .03rem #eee;
    padding: .5rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.corpo-cartao {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin-top: .5rem;
    /* border: .1rem solid red; */
}

.imagem {
    max-width: 100%;
    height: auto;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.titulo-noticia-cartao {
    font-size: 1rem;
    /* font-weight: bold; */
    /* margin-top: .2rem; */
}

.descricao-noticia-cartao {
    /* margin-top: .5rem; */
}

.autor-noticia-cartao {
    font-size: .8rem;
    font-weight: bold;
    color: green;
    text-align: right;
}

.botao-cartao {
    max-width: 100%;
    border: none;
    border-radius: .5rem;
    background-color: blue;
    color: #eee;
    padding: .5rem;
    margin-top: .5rem;
    font-weight: bold;
    text-align: center;
}

.botao-cartao:hover {
    color: white;
    background-color: #050577;
}

footer {
    /* border: .1rem solid green; */
    background-color: rgb(36, 35, 35);
    color: #eee;
    height: 3rem;
    padding: .7rem;
}

@media(max-width: 576px) {
    .titulo-cabecalho {
        opacity: 0;
    }

    nav {
        display: none;
    }

    main {
        display: flex;
        justify-content: center;
    }
}

.painel {
    width: 38rem;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    /* border: .1rem solid red; */
}

.painel-img {
    width: 38rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}